<a href="https://www.secmem.org">
  <img
    style="height: 2.4em"
    src="/assets/sponsor-logo/samsung_sm.png"
    alt="삼성소프트웨어멤버십"
  />
</a>
<a href="https://startlink.io/">
  <img
    style="height: 1.5em"
    src="/assets/sponsor-logo/startlink.png"
    alt="스타트링크"
  />
</a>
<a href="https://www.mobis.co.kr/">
  <img
    style="height: 1.5em"
    src="/assets/sponsor-logo/hyundaimobis_CI.jpg"
    alt="현대 모비스"
  />
</a>
<a href="https://www.prestolabs.io/">
  <img
    style="height: 2em"
    src="/assets/sponsor-logo/presto.png"
    alt="Presto Labs"
  />
</a>
<a href="https://www.hyundai-autoever.com/">
  <img
    style="height: 1.6em"
    src="/assets/sponsor-logo/Hyundai_AutoEver_logo.png"
    alt="Hyundai Autoever"
  />
</a>
<a href="https://leejseo.com">
  <img
    style="height: 4em"
    src="/assets/sponsor-logo/leejseo.png"
    alt="leejseo.com"
  />
</a>
<a href="https://www.hanbit.co.kr/">
  <img
    style="height: 1.5em"
    src="/assets/sponsor-logo/Hanbitmedia.png"
    alt="한빛미디어"
  />
</a>
